<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/adminLogin.css">
</head>
<body>
    


<div class="container">
    <% 

if(typeof message !== 'undefined'){

%>
<h3><%= message %></h3>
<%

}

%>
    <form action="" method="post">
        <h1>Admin page</h1>
<input type="email" name="email" placeholder="Enter your email">
<br>
<br>
<input type="password" name="password" placeholder="Enter your password">
<br>
<br>
<button type="submit">submit</button>
<br>
<br>
</form>
    </div>



</body>
</html>